{% extends 'sitioweb/base.html' %}
{% load video_filters %}
{% load i18n %}

{% block title %}{{ perfil.nombre }} | {% trans "Sobre mí" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <h1 class="display-4 fw-bold mb-4 text-center text-uppercase">{{ perfil.nombre }}</h1>

         {% if perfil.foto_perfil %}
                    <div class="row justify-content-center mt-3"> 
                        <img src="{{ perfil.foto_perfil.url }}" class="img-fluid w-25">
                    </div>
                {% else %}
                    <div class="bg-dark text-white p-5 d-flex align-items-center justify-content-center rounded shadow">
                        <span>{% trans "Sin foto de perfil" %}</span>
                    </div>
        {% endif %}
            
        {% if perfil.bio_introduccion %}
                    <div class="text-end mt-3 mb-4 pt-2">
                        <p class="lead text-secondary">{{ perfil.bio_introduccion|linebreaks }}</p>
                    </div>
        {% endif %}
            
        <h3 class="h5 mb-3 pt-4 text-uppercase">{% trans "Imágenes" %}</h3>
        <div class="row g-3 mb-5">
            {% for captura in perfil.capturas.all %}
                <div class="col-md-6 col-lg-4">
                    <img src="{{ captura.imagen.url }}" class="img-fluid rounded shadow-sm" alt="Joaco Still">
                </div>
            {% endfor %}
        </div>

        <div class="videos-section mb-5">
            {% for video in perfil.videos.all %}
                <div class="mb-4">
                    {% if video.titulo_video %}
                        <h4 class="h6 mb-2">{{ video.titulo_video }}</h4>
                    {% endif %}
                    <div class="ratio ratio-16x9 shadow rounded overflow-hidden">
                        <iframe src="{{ video.url_video|embed_video }}" allowfullscreen></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if perfil.bio_detallada %}
        <div class="mt-5 pt-4">
            <p class="lead text-secondary">{{ perfil.bio_detallada|linebreaks }}</p>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}