{% extends 'sitioweb/base.html' %} 
{% load i18n %} 

{% block title %}{{categoria.nombre}} | Joaco{% endblock %} 

{% block content %}
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12 mb-5">
      <h1 class="display-4 fw-bold text-uppercase">{{categoria.nombre}}</h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <div class="pb-3 border-bottom border-secondary border-opacity-25">
        <ul class="nav nav-pills custom-pills w-100 d-flex flex-wrap justify-content-center justify-content-md-start">
          <li class="nav-item w-100 w-md-auto d-flex justify-content-center justify-content-md-start">
            <a class="nav-link {% if not sub_cat_actual %}active{% endif %}" href="?orden={{ orden_actual|default:'fecha' }}">
              {% trans "Todos" %}
            </a>
          </li>

          {% for valor, etiqueta in sub_categorias %}
          <li class="nav-item">
            <a class="nav-link {% if sub_cat_actual == valor %}active{% endif %}" href="?sub_cat={{ valor }}&orden={{ orden_actual|default:'fecha' }}">
              {{ etiqueta }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row g-4">
    {% for proyecto in proyectos %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="{% url 'proyecto_detalle' proyecto.pk %}" class="text-decoration-none">
        <div class="card bg-dark border-0 project-card overflow-hidden position-relative">
          <div class="ratio ratio-16x9">
            <img src="{{ proyecto.miniatura.url }}" class="card-img object-fit-cover" alt="{{ proyecto.nombre }}" />
          </div>

          <div class="project-overlay d-flex flex-column justify-content-center align-items-center text-center p-3">
            <div class="project-text-box">
              <h5 class="text-warning fw-bold mb-1">{{ proyecto.nombre }}</h5>
              
              {% if proyecto.estreno_anio %}
              <p class="proyecto-anio mb-2">
                  {{ proyecto.estreno_anio }}
              </p>
              {% endif %}

              {% if proyecto.tagline %}
              <div class="small text-light opacity-75 tagline-preview">
                  {{ proyecto.tagline|truncatewords:10|linebreaksbr }}
              </div>
              {% endif %}
          </div>
        </div>
        </div>
      </a>
    </div>
    {% empty %}
    <div class="col-12">
      <div class="alert alert-dark border-secondary text-center py-5">
        <p class="mb-0 text-secondary">
          {% trans "No hay proyectos cargados aún." %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}